> Tempest v2.0 system configuration file
> Text following a '>' character is commented out.
> Run 'tempest --device-info' to see available platforms and devices.

>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
> Parameter guide                                                              
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
> platform        <id>
>                 | Select a platform ID (only one can be used at a time).
>                 | Platforms are usually partitioned by device type and vendor.
>
> device          <id>
>                 | Select one or more device IDs within the platform.
>                 | You can add multiple 'device' lines if your platform has multiple devices.
>                 | Workloads are evenly distributed across all listed devices.
>
>
> max_host_mem    <mem> <GB|MB|B>
>                 | Select a maximum amount of host memory for Tempest to use.
>                 | For best performance, value should not exceed physical host RAM.
>                 | Give values in GB, MB, or B.
>
> max_device_mem  <mem> <GB|MB|B>
>                 | Select the maximum amount of device memory (applies to each device).
>                 | Listed in bytes under 'GLOBAL_MEM_SIZE' in '--device-info'.
>                 | If the device shares host memory, this value is additive to max_host_mem.
>                 | If set to '0 B', Tempest will use the least device memory possible.
>                 | Give values in GB, MB, or B.
>               
> parallel_reduce <1|0>
>                 | If set to 1, sort PSMs using a parallel algorithm (best for GPUs)
>                 | If set to 0, sort PSMs using a sequential algorithm (best for CPUs)
>
> profile         <1|0>
>                 | (Advanced) If set to 1, print kernel profiling info (slow)
>
> min_work_size   <n>
>                 | (Advanced) Set min local work size for scoring kernel (must be a power of 2)
>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>

platform        0
device          0

max_host_mem    4 gb
max_device_mem  1 gb

parallel_reduce 1

profile         0
min_work_size	32
